@import "tailwindcss";

@layer components {
    .flex-between {
        @apply flex flex-row justify-between
    }
    .flex-items-center {
        @apply flex flex-row items-center
    }
    .flex-center {
        @apply flex justify-center items-center
    }
    .bg-mcd-yellow {
        background-color: #F6C543;
    }
    .bg-mcd-red {
        background-color: #8E1F11;
    }
    .border-mcd-yellow {
        border-color: #F6C543;
    }
    .border-mcd-red {
        border-color: #8E1F11;
    }
    .text-mcd-red {
        color: #8E1F11;
    }
    .text-mcd-yellow {
        color: #F6C543;
    }
}
